.contenedorGrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10px;
    background-color: hotpink;

    &__elementoHijo {
        padding: 1px;
        background-color: seagreen;
        &__imgResponsiva {
            width: 100%;
            height: auto;
        }
    }    
}

body {
    margin: 0;
    padding: 0;
    .imagenResponsivaCentrada {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.contenedorImagen {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 70%;
    min-height: 500px;
    background-image: url(../Subir/img/gatos.jfif);
    background-repeat: repeat;
    border: black solid 1px;
    background-size: contain;
}




